{% extends 'main_template.html' %}
{% block contents %}
<div class="body_scroll">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Basic Form Elements</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Aero</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                    <li class="breadcrumb-item active">Basic Form</li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>                                
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
               
                <div class="card">
                    <form action="{% url 'create_ticket' %}" method="post">
                        {% csrf_token %}
                        <div class="body">
                            
                            
                            <h2 class="card-inside-title">Create Tickets</h2>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">    
                                        <label for="id_username">{{forms.ticket_id.label}}</label>                                    
                                        {{forms.ticket_id}}
                                        <span>{{ forms.ticket_id.help_text }}</span>                                  
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">   
                                        <label for="id_email">{{forms.priority.label}}</label>                                 
                                        {{forms.priority}} 
                                        <span>{{ forms.priority.help_text }}</span>                                   
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">    
                                        <label for="id_username">{{forms.subject.label}}</label>                                    
                                        {{forms.subject}}
                                        <span>{{ forms.subject.help_text }}</span>                                  
                                    </div>
                                </div>
                                
                            </div>
                                        
                            
                        </div>
                        <div class="card-footer">
                            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger ">Cancel</a>
                            <button type="submit" class="btn btn-primary ">Add Tickets</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        

        
    </div>
</div>
{% endblock contents %}