{% extends 'main_template.html' %}
{% block contents %}
<div class="body_scroll">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Jquery DataTables</h2>
                
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <a href="{% url 'create_ticket' %}" class="btn btn-primary float-right " type="button">ADD Tickets</a>                              
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Basic</strong> Examples </h2>
                       {% includes 'messages.html' %}
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>Ticket Id</th>
                                        <th>subject</th>
                                        <th>created at</th>
                                        <th>email</th>
                                        <th>phone</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <!-- looping the local variable queryset containing users queryset
                                        by filtering is_user true
                                    -->
                                    {% for i in queryset %}
                                    <!-- looping start -->
                                    <tr>
                                        <td>{{i.ticket_id}}</td>
                                        <td>{{i.subject}}</td>
                                        <td>{{i.created_at}}</td>
                                        <td>{{i.created_by.email}}</td>
                                        <td>{{i.created_by.phone}}</td>
                                    </tr>
                                    <!-- looping end -->
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

</div>
{% endblock contents %}